.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
coverage
deno_dir/dist
deno_dir/dl
deno_dir/fmt_incremental_cache_v1
deno_dir/fmt_incremental_cache_v1-shm
deno_dir/gen
deno_dir/lint_incremental_cache_v1